.root{
	-fx-background-color: #fff8dc;
	-fx-mid-text-color: black;
}

#login-title{
		-fx-font-family: "Arial Black";
    -fx-font-size: 26;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
}


#time-label{
		-fx-font-family: "Arial";
    -fx-font-size: 20.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
    -fx-font-weight: bold

}

#principal-label{
		-fx-font-family: "Arial";
    -fx-font-size: 20.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
    -fx-font-weight: bold

}

#calculated-amount{
	-fx-font-family: "Arial";
    -fx-font-size: 20.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
    -fx-font-weight: bold
}

#interest-label{
		-fx-font-family: "Arial";
    -fx-font-size: 20.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
        -fx-font-weight: bold
    
}

#interest-text{
			-fx-font-family: "Arial";
    -fx-font-size: 20.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
    -fx-font-weight: bold
}

#interest-mode{
			-fx-font-family: "Arial";
    -fx-font-size: 20.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
}

#interest-button{
  -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

#interest-button:pressed{
  -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 75%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
 }


#compute-button{
  -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}


#compute-button:pressed{
  -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 75%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-fill: white;
 }

#error-field{
	-fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: rgb(200.0,0.0,0.0);
    -fx-display-caret:true;
    -fx-font-weight: bold
    
}

   